.card {
  background: #1b1b1b;
  width: 350px;
  margin-bottom: 8px;
  margin-right: 8px;
  border: 3px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(45deg,#d789d7, #f09ae9, #ffe05d);
}

.card:hover {
  box-shadow: 0 0 10px 5px rgba(0,0,0,0.3);
  transition: 500ms;
  transform: scale(1.1);
}

.link {
  color: #ffe05d;
}

.card:hover .linkarrow {
  animation: moveright 1s infinite ease-in-out;
}

@keyframes moveright {
  from {
    margin-left: 0;
  }
  to {
    margin-left: 24px;
  }
}